/EE Session 1/CarRental/nbproject/private/
/EE Session 1/CarRental-client/nbproject/private/
/EE Session 1/CarRental-ejb/nbproject/private/
/EE Session 1/CarRental-lib/nbproject/private/
/EE Session 1/CarRental-lib/build/
/EE Session 1/CarRental-lib/dist/
/EE Session 1/CarRental/build/
/EE Session 1/CarRental/dist/